@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#color-navbar{
    background-color: black;
}

.navbar-brand img{
    width: 200px;
    height: 100px;
    margin-right: 0px;
}

.nav-link{
    color: white;
    font-weight: 600;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.nav-link:hover{
    color: #A1A2A5;
    transition: 0.2s;
}

#home{
    display: flex;
    background-color: #F1731E;
    margin-top: -50px;
    padding-bottom: 30px;
}

.content-title, p{
    color: white;
}

#content-register{
    background-color:#E9E4CF;
}

.container-input{
    margin-top: 40px;
}

.content-title-secundary{
    color: #F1731E;
}

#btn-register{
    background-color:#F54401;
}

#btn{
    background-color: #F54401;
    color: white;
    margin-left: 10px;
}

.container-main-analise{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    border-radius:15px;
    display: flex;
    justify-content: space-around;
}

.campo-dados{
    margin-left: 20px;
    margin-right: 20px;
    width: 270px;
    height:240px;
    border-radius: 15px;
    box-shadow:2px 2px 20px rgba(0, 0, 0, 0.5);
    background-color: white;
}

#salarioAnalise{
    margin-left: 20px;
}

#nomeAnalise{
    margin-bottom: 20px;
    display: inline-block;
    color:#F54401;
}

.content-name-salary{
    margin-top: 20px;
    width: 150px;
    margin-left:100px;
}

.content-name-salary img{
    width: 30px;
    height: 30px;
}

#valorSalarioTotal{
    color: green;
    font-size: medium;
    margin-top: 10px;
    
}

#gastosAnalise{
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.conteudo-despesas-analise{
    width: 150px;
    margin-left:120px;
    margin-bottom: -10px;
 
}
.conteudo-despesas-analise img{
    width: 30px;
    height: 30px;
}

#valorDespesaTotal{
    display: inline-block;
    font-size: medium;
    color: red;
}

#valorDespesaTotal img{
    width: 30px;
    height: 30px;
}

.card-saldo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text-card{
    margin-bottom: 100px;
}

.content-saldo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 85%;
    right: 9%;
}

.content-saldo img{
    width: 30px;
    height: 25px;
}

/* EFEITO OLHO */

.toggle-button {
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}

#toggleDiv{
    margin-left: 15px;
    margin-bottom: 15px;   
}

/*Final*/

#btn-report{
    border: none;
    background-color: white;
    cursor: pointer;
}



/*section economia*/

.container-gastos{
    display: flex;
    background-color: white; 
    height: 365px; 
    width: 30%; 
    margin-top: 30px; 
    margin-left: 105px; 
    border-radius: 15px;
}

.tipos{
    display: flex; 
    flex-wrap: wrap;
    margin-top: 25px;
}

.list-cards{
    display: flex;
    height: min-content; 
    width: 100%;
    margin-left: 20px;
}
.card-economia{
    width: min-content; 
    height: 60px; 
}

.icon{
    border-radius:50%; 
    padding: 10px;
    width: 40px;
}

.icon-tamanho{
    height: 20px; 
    width: 25px;
    color: white;
}

.titulo-tipo{
    display: flex; 
    align-items:center; 
    margin-left: 30px;
    text-align: center;
}

.titulo-tipo p{
    display: flex;
    text-align: center;
    color: black;
    font-size: 1.1rem;
    font-family: 'Poppins' Arial, Helvetica, sans-serif;
    font-weight:500;
}

.valor-percentual{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
}
.valor-percentual p{
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}